.sectionAbout {
    background-image: url(/summer.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .aboutlogo {
        color: var(--whiteColor);
        font-size: 25px;
    }

    .containerAbout {
        background-color: var(--aboutColor2);
        width: 80%;
        height: calc(70vh - 40px);
        margin: 20px auto;
        box-sizing: border-box;
        border-radius: 20px;
        padding: 60px;

        .aboutcontent {
            position: relative;
            padding: 30px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 3px;
                background-image: linear-gradient(to top, #8360c3, #2ebf91, #ffd452);
            }
        }

        .hotelLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .logo1 {
                margin-top: 60px;
                width: 100px;
                height: 60px;
                text-decoration: none;
            }
        }
    }
}
